<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <!-- Define ANSI color codes for log levels -->
    <property name="LOG_ERROR" value="&amp;#27[31;1m" />

    <!-- Define the ConsoleAppender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level){%property{LOG_ERROR}} %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set the root logger to log to the ConsoleAppender -->
    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
